.application-container {
  background-color: #36454F; /* dark theme background color */
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow-x: hidden;
}

.editor-chat-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  height: 76vh;
  width: 100% - 25px;
}

* {
  margin: 0;
  padding: 0;

}
