.header-banner {
    background-color: #36454F; /* dark banner color */
    color: #ffffff;
    padding: 16px;
    text-align: left;
    height: 4vh;
}

.header-title {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 0;
    padding-left: 16px;
    font-family: Helvetica, Arial, sans-serif;
}